@import 'login.scss';
.container{
    position: relative;
    width: fit-content;
    height: 480px;
    left: 390px;
    top: 100px;
    background: $containerColor;
    border-radius: 10px;
    z-index: 1;

    .content{
        font-family: Roboto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0px 40px 0px 40px;

        h1{
            font-style: normal;
            font-weight: 200;
            font-size: 38px;
            text-align: center;
            color: #FFFFFF;
        
            .spanish{
                font-size: 32px;
                color: #828282;
            }
        }
       
        
        input{
            display: flex;
            font-weight: normal;
            font-size: 15px;
            line-height: 50px;
            color: rgba(255, 255, 255, 0.8);
            border: none;
            outline: none;
            background: transparent;
            border-bottom: 2px solid #2D9CDB;
    
        }

        h3{
           
            font-style: normal;
            font-weight: normal;
            font-size: 19px;
            line-height: 15px;
            color: rgba(255, 255, 255, 0.8);
            padding-left: 40px;
        }

        .radio1{
            height: 20px;
            width: 13px;
            border-radius: 50%;
            border: none;
            display: block;
            position: absolute;
            right: 88.5%;
            // top: -4px;
            bottom: 32%;
        }

        .radio2{
            height: 20px;
            width: 13px;
            border-radius: 50%;
            border: none;
            display: block;
            position: absolute;
            right: 88.5%;
            // top: -4px;
            bottom: 25%;
        }


    }

}


a{
    text-decoration: none;
    color: #2D9CDB;
}

a:hover{
    color: rgba(255, 255, 255, 0.8);
    }


button{
    position: absolute;
    width: 350px;
    height: 50px;
    right: 15.8%;
    bottom: 30px;
    border: none;
    background: $buttonColor;
}

.col{
    columns: 2;
    column-gap: 5em;
}


@media screen and (max-width: 1200px){

    .container{
        position: relative;
        width: fit-content;
        height: 480px;
        left: 390px;
        top: 100px;
        background: $containerColor;
        border-radius: 10px;
        z-index: 1;
    
        .content{
            font-family: Roboto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0px 40px 0px 40px;
    
            h1{
                font-style: normal;
                font-weight: 200;
                font-size: 38px;
                text-align: center;
                color: #FFFFFF;
            
                .spanish{
                    font-size: 32px;
                    color: #828282;
                }
            }
           
            
            input{
                display: flex;
                font-weight: normal;
                font-size: 15px;
                line-height: 50px;
                color: rgba(255, 255, 255, 0.8);
                border: none;
                outline: none;
                background: transparent;
                border-bottom: 2px solid #2D9CDB;
        
            }
    
            h3{
               
                font-style: normal;
                font-weight: normal;
                font-size: 19px;
                line-height: 15px;
                color: rgba(255, 255, 255, 0.8);
                padding-left: 40px;
            }
    
            .radio1{
                height: 20px;
                width: 13px;
                border-radius: 50%;
                border: none;
                display: block;
                position: absolute;
                right: 88.5%;
                // top: -4px;
                bottom: 32%;
            }
    
            .radio2{
                height: 20px;
                width: 13px;
                border-radius: 50%;
                border: none;
                display: block;
                position: absolute;
                right: 88.5%;
                // top: -4px;
                bottom: 25%;
            }
    
    
        }
    
    }
    
    
    a{
        text-decoration: none;
        color: #2D9CDB;
    }
    
    a:hover{
        color: rgba(255, 255, 255, 0.8);
        }
    
    
    button{
        position: absolute;
        width: 350px;
        height: 50px;
        right: 15.8%;
        bottom: 30px;
        border: none;
        background: $buttonColor;
    }
    
    .col{
        columns: 2;
        column-gap: 5em;
    }

}


@media screen and (max-width: 1024px){
    .container{
        position: relative;
        width: fit-content;
        height: 480px;
        left: 250px;
        top: 100px;
        background: $containerColor;
        border-radius: 10px;
        z-index: 1;
    
        .content{
            font-family: Roboto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0px 40px 0px 40px;
    
            h1{
                font-style: normal;
                font-weight: 200;
                font-size: 38px;
                text-align: center;
                color: #FFFFFF;
            
                .spanish{
                    font-size: 32px;
                    color: #828282;
                }
            }
           
            
            input{
                display: flex;
                font-weight: normal;
                font-size: 15px;
                line-height: 50px;
                color: rgba(255, 255, 255, 0.8);
                border: none;
                outline: none;
                background: transparent;
                border-bottom: 2px solid #2D9CDB;
        
            }
    
            h3{
               
                font-style: normal;
                font-weight: normal;
                font-size: 19px;
                line-height: 15px;
                color: rgba(255, 255, 255, 0.8);
                padding-left: 40px;
            }
    
            .radio1{
                height: 20px;
                width: 13px;
                border-radius: 50%;
                border: none;
                display: block;
                position: absolute;
                right: 88.5%;
                // top: -4px;
                bottom: 32%;
            }
    
            .radio2{
                height: 20px;
                width: 13px;
                border-radius: 50%;
                border: none;
                display: block;
                position: absolute;
                right: 88.5%;
                // top: -4px;
                bottom: 25%;
            }
    
    
        }
    
    }
    
    
    a{
        text-decoration: none;
        color: #2D9CDB;
    }
    
    a:hover{
        color: rgba(255, 255, 255, 0.8);
        }
    
    
    button{
        position: absolute;
        width: 350px;
        height: 50px;
        right: 15.8%;
        bottom: 30px;
        border: none;
        background: $buttonColor;
    }
    
    .col{
        columns: 2;
        column-gap: 5em;
    }
}

@media screen and (max-width: 900px){
    .container{
        position: relative;
        width: fit-content;
        height: 480px;
        left: 145px;
        top: 100px;
        background: $containerColor;
        border-radius: 10px;
        z-index: 1;
    
        .content{
            font-family: Roboto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0px 40px 0px 40px;
    
            h1{
                font-style: normal;
                font-weight: 200;
                font-size: 38px;
                text-align: center;
                color: #FFFFFF;
            
                .spanish{
                    font-size: 32px;
                    color: #828282;
                }
            }
           
            
            input{
                display: flex;
                font-weight: normal;
                font-size: 15px;
                line-height: 50px;
                color: rgba(255, 255, 255, 0.8);
                border: none;
                outline: none;
                background: transparent;
                border-bottom: 2px solid #2D9CDB;
        
            }
    
            h3{
               
                font-style: normal;
                font-weight: normal;
                font-size: 19px;
                line-height: 15px;
                color: rgba(255, 255, 255, 0.8);
                padding-left: 40px;
            }
    
            .radio1{
                height: 20px;
                width: 13px;
                border-radius: 50%;
                border: none;
                display: block;
                position: absolute;
                right: 88.5%;
                // top: -4px;
                bottom: 30%;
            }
    
            .radio2{
                height: 20px;
                width: 13px;
                border-radius: 50%;
                border: none;
                display: block;
                position: absolute;
                right: 88.5%;
                // top: -4px;
                bottom: 23%;
            }
    
    
        }
    
    }
    
    
    a{
        text-decoration: none;
        color: #2D9CDB;
    }
    
    a:hover{
        color: rgba(255, 255, 255, 0.8);
        }
    
    
    button{
        position: absolute;
        width: 350px;
        height: 50px;
        right: 15.8%;
        bottom: 30px;
        border: none;
        background: $buttonColor;
    }
    
    .col{
        columns: 2;
        column-gap: 5em;
    }
}

@media screen and (max-width: 768px){
    .container{
        position: relative;
        width: fit-content;
        height: 480px;
        left: 100px;
        top: 100px;
        background: $containerColor;
        border-radius: 10px;
        z-index: 1;
    
        .content{
            font-family: Roboto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0px 40px 0px 40px;
    
            h1{
                font-style: normal;
                font-weight: 200;
                font-size: 38px;
                text-align: center;
                color: #FFFFFF;
            
                .spanish{
                    font-size: 32px;
                    color: #828282;
                }
            }
           
            
            input{
                display: flex;
                font-weight: normal;
                font-size: 15px;
                line-height: 50px;
                color: rgba(255, 255, 255, 0.8);
                border: none;
                outline: none;
                background: transparent;
                border-bottom: 2px solid #2D9CDB;
        
            }
    
            h3{
               
                font-style: normal;
                font-weight: normal;
                font-size: 19px;
                line-height: 15px;
                color: rgba(255, 255, 255, 0.8);
                padding-left: 40px;
            }
    
            .radio1{
                height: 20px;
                width: 13px;
                border-radius: 50%;
                border: none;
                display: block;
                position: absolute;
                right: 88.5%;
                // top: -4px;
                bottom: 30.5%;
            }
    
            .radio2{
                height: 20px;
                width: 13px;
                border-radius: 50%;
                border: none;
                display: block;
                position: absolute;
                right: 88.5%;
                // top: -4px;
                bottom: 23.5%;
            }
    
    
        }
    
    }
    
    
    a{
        text-decoration: none;
        color: #2D9CDB;
    }
    
    a:hover{
        color: rgba(255, 255, 255, 0.8);
        }
    
    
    button{
        position: absolute;
        width: 350px;
        height: 50px;
        right: 15.8%;
        bottom: 30px;
        border: none;
        background: $buttonColor;
    }
    
    .col{
        columns: 2;
        column-gap: 5em;
    }
}

@media screen and (max-width: 600px){
    .container{
        position: relative;
        overflow: hidden;
        width: fit-content;
        height: 590px;
        left: 100px;
        top: 50px;
        background: $containerColor;
        border-radius: 10px;
        z-index: 1;
    
        .content{
            font-family: Roboto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0px 40px 0px 40px;
    
            h1{
                font-style: normal;
                font-weight: 200;
                font-size: 30px;
                text-align: center;
                color: #FFFFFF;
            
                .spanish{
                    font-size: 30px;
                    color: #828282;
                }
            }
           
            
            input{
                display: flex;
                font-weight: normal;
                font-size: 15px;
                line-height: 47px;
                color: rgba(255, 255, 255, 0.8);
                border: none;
                outline: none;
                background: transparent;
                border-bottom: 2px solid #2D9CDB;
        
            }
    
            h3{
               
                font-style: normal;
                font-weight: normal;
                font-size: 19px;
                line-height: 15px;
                color: rgba(255, 255, 255, 0.8);
                padding-left: 40px;
            }
    
            .radio1{
                height: 20px;
                width: 13px;
                border-radius: 50%;
                border: none;
                display: block;
                position: absolute;
                right: 85%;
                // top: -4px;
                bottom: 22.5%;
            }
    
            .radio2{
                height: 20px;
                width: 13px;
                border-radius: 50%;
                border: none;
                display: block;
                position: absolute;
                right: 85%;
                // top: -4px;
                bottom: 17%;
            }
    
    
        }
    
    }
    
    
    a{
        text-decoration: none;
        color: #2D9CDB;
    }
    
    a:hover{
        color: rgba(255, 255, 255, 0.8);
        }
    
    
    button{
        position: absolute;
        width: 310px;
        height: 50px;
        right: 10%;
        bottom: 30px;
        border: none;
        background: $buttonColor;
    }

    .col{
        display: grid;
    }
    
}

@media screen and (max-width: 480px){
    .container{
        position: relative;
        overflow: hidden;
        width: fit-content;
        height: 480px;
        left: 10px;
        top: 50px;
        background: $containerColor;
        border-radius: 10px;
        z-index: 1;
    
        .content{
            font-family: Roboto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0px 40px 0px 40px;
    
            h1{
                font-style: normal;
                font-weight: 200;
                font-size: 22px;
                text-align: center;
                color: #FFFFFF;
            
                .spanish{
                    font-size: 22px;
                    color: #828282;
                }
            }
           
            
            input{
                display: flex;
                font-weight: normal;
                font-size: 13px;
                line-height: 40px;
                color: rgba(255, 255, 255, 0.8);
                border: none;
                outline: none;
                background: transparent;
                border-bottom: 2px solid #2D9CDB;
        
            }
    
            h3{
               
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 10px;
                color: rgba(255, 255, 255, 0.8);
                padding-left: 40px;
            }
    
            .radio1{
                height: 20px;
                width: 12.5px;
                border-radius: 50%;
                border: none;
                display: block;
                position: absolute;
                right: 82%;
                // top: -4px;
                bottom: 23%;
            }
    
            .radio2{
                height: 20px;
                width: 12.5px;
                border-radius: 50%;
                border: none;
                display: block;
                position: absolute;
                right: 82%;
                // top: -4px;
                bottom: 18%;
            }
    
    
        }
    
    }
    
    
    a{
        text-decoration: none;
        color: #2D9CDB;
    }
    
    a:hover{
        color: rgba(255, 255, 255, 0.8);
        }
    
    
    button{
        position: absolute;
        width: 247px;
        height: 50px;
        right: 10%;
        bottom: 20px;
        border: none;
        background: $buttonColor;
    }

    .col{
        display: grid;
    }
}

@media screen and (max-width: 320px){
    .container{
        position: relative;
        overflow: hidden;
        width: fit-content;
        height: 400px;
        left: 1px;
        top: 50px;
        background: $containerColor;
        border-radius: 10px;
        z-index: 1;
    
        .content{
            font-family: Roboto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0px 40px 0px 40px;
    
            h1{
                font-style: normal;
                font-weight: 200;
                font-size: 18px;
                text-align: center;
                color: #FFFFFF;
            
                .spanish{
                    font-size: 18px;
                    color: #828282;
                }
            }
           
            
            input{
                display: flex;
                font-weight: normal;
                font-size: 12px;
                line-height: 30px;
                color: rgba(255, 255, 255, 0.8);
                border: none;
                outline: none;
                background: transparent;
                border-bottom: 2px solid #2D9CDB;
        
            }
    
            h3{
               
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 14px;
                color: rgba(255, 255, 255, 0.8);
                padding-left: 10px;
            }
    
            .radio1{
                height: 20px;
                width: 10px;
                display: block;
                position: absolute;
                right: 78%;
                // top: -4px;
                bottom: 25.3%;
            }
    
            .radio2{
                height: 20px;
                width: 10px;
                display: block;
                position: absolute;
                right: 78%;
                // top: -4px;
                bottom: 19.2%;
            }
    
    
        }
    
    }
    
    
    a{
        text-decoration: none;
        color: #2D9CDB;
    }
    
    a:hover{
        color: rgba(255, 255, 255, 0.8);
        }
    
    
    button{
        position: absolute;
        width: 160px;
        height: 40px;
        right: 15%;
        bottom: 20px;
        border: none;
        background: $buttonColor;
    }

    .col{
        display: grid;
    }
}
// 320px
// 480px
// 600px
// 768px
// 900px
// 1024px
// 1200px